* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #ffffff,  #cccccc);
}

#logo {
    width: 80px;
}

img {
    width: 100%;
}

#presentacion {
    display: grid;
    grid-template-areas: "title  img"
                         "subtitle img ";
    align-content: center;
    border: rgb(211, 30, 30) 4px solid;
    border-radius: 10px;
}

.presentacion__titulo {
    margin-top: 50px;
}

#proyectos {
    margin-top: 200px;
    margin-bottom: 200px;
}

.proyect {
    display: grid;
    grid-template-areas: "img img"
                          "title text";
    border: 1px solid black;
    margin: 50px;
    margin-left: 0px;
}

.proyect__image {
    grid-area: img;
}

.proyect__title {
    grid-area: title;
    font-size: small;
    margin-right: 50px;
}

.proyect__text {
    grid-area: text;
    font-size: small;
}

#navbarNav {
    justify-content: flex-end;
    width: 100%;
}

#contacto {
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 30px;
}

#mail {
    display: flex;
}

#mailAdress {
    margin-top: 10px;
    margin-left: 5px;
}

@media screen and (min-width:600px) {
    .proyect__title {
        font-size: 1.5em;
    }

    .proyect__text {
        font-size: 1em;
    }

    .proyect {
        display: grid;
        grid-template-areas: "img title"
                              "img text";
        
    }

    img {
        width: 50%;
    }
}