* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #ffffff,  #cccccc);
}

#logo {
    height: 80px;
    width: 80px;
}

img {
    width: 500px;
    height: 500px;
}
/*
#presentacion {
    display: grid;
    grid-template-areas: "title  img"
                         "subtitle img ";
    align-content: center;
}
*/

#titulos {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentacion__titulo {
    margin-top: 25px;
}

.presentacion__subtitulo {
    font-size: 20px;
}

#fotoPrincipal {
    height: 120px;
    width: 120px;
}

#infoPersonal {
    margin-left: 10px;
    align-items: center;
}
/*
#infoPersonal p {
    margin: 50px 0px 50px 0px
}
*/
#iconos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#iconos i {
    font-size: 30px;
}

#proyectos {
    margin-top: 100px;
    margin-bottom: 00px;
}

.proyect {
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-left: 0px;
    padding: 25px;
}

.proyect__image {
    width: 80%;
    height: 100%;
    margin-right: 20px;
}

.proyect__title {
    font-size: small;
    margin-right: 50px;
}

.proyect__text {
    font-size: small;
}

#navbarNav {
    justify-content: flex-end;
    width: 100%;
}

#contacto {
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 30px;
}

#mail {
    display: flex;
}

#mailAdress {
    margin-top: 10px;
    margin-left: 5px;
}

@media screen and (min-width:600px) {
    /*
    #presentacion {
        display: grid;
        grid-template-areas: "title  img"
                             "subtitle img ";
        align-content: center;
    }
    */

    #titulos {
        display: flex;
    }

    #fotoPrincipal {
        height: auto;
        width: auto;
    }

    .presentacion__subtitulo {
        font-size: 30px;
    }

    #logo {
        display: none;
    }

    #iconos i {
        font-size: 100px;
    }

    .proyect__title {
        font-size: 1.5em;
        grid-area: title;
    }

    .proyect__text {
        font-size: 1em;
        grid-area: des;
    }

    .proyect {
        display: grid;
        grid-template-areas: "img title"
                              "img des";
        
    }

    .proyect__image {
        grid-area: img;
    }

}